<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Autospots", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right nav-link">
        <li><%= link_to "Home",  root_path %></li>
        <li><%= link_to "Tutorial",  about_tutorial_path %></li>
        <li><%= link_to "Team",  about_team_path %></li>
        <li><%= link_to "Lots",  parking_spaces_path %></li>
        <li><%= link_to "Setup",  new_parking_space_path %></li>
      </ul>
    </nav>
  </div>
</header>