<!DOCTYPE html>
<html>
<head>
  <title>Autospots</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.9/fabric.min.js" %>-->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

    <%= yield %>

</body>
</html>
