<div class="container">
	<h1>Team</h1>
	<div class="col-md-4 bio">
		<h3>Geoff Lodder</h3>	
		<%= mail_to "geoffsg1@gmail.com" do %>
		<div class="team-icon">
			<%= cl_image_tag("Screen_Shot_2017-01-21_at_12.13.08_AM_a9tycv_hg1fym.png")%>
		</div>
		<% end %>
	</div>
	<div class="col-md-4 bio">
		<h3>James Jenkins</h3>	
		<%= mail_to "jamesljenk@gmail.com" do %>
		<div class="team-icon">
			<%= cl_image_tag("Screen_Shot_2017-01-21_at_12.13.21_AM_wyourx_cyo7eu.png", :width=>145, :x=>2, :y=>2, :crop=>"crop")%>
		</div>
		<% end %>
	</div>
	<div class="col-md-4 bio">
		<h3>Robert Corbett</h3>	
		<%= mail_to "robert.p.corbett@gmail.com" do %>
		<div class="team-icon">
			<%= cl_image_tag("Screen_Shot_2017-01-21_at_12.12.57_AM_2_idjcfo_e1htip.png")%>
		</div>
		<% end %>
		<p>Robert Corbett is a future graduate of the University of Utah with a passion for computer science. Through the course of his studies at the university he has learned to work hard and overcome obstacles with persistence. Robert has been employed by The Boeing Company as a Production Coordinator for 6 years. He is a father of 3 and would one day like the re-explore what is meant by free time.
		</p>
		<p>Fool me once, fool me twice, fool me chicken soup with rice. – Todd</p> 

		<p>robert.p.corbett@gmail.com</p>	
	</div>
</div>
