<p id="notice"><%= notice %></p>

<% begin %>
  <% cl_image_tag(@images.first['url']) %>
  <div class="container-fluid">
    <div class="row" id="main">
  		<h1>Autospots Computer Vision</h1>
      <div class="show-back">
        <%= link_to 'Back', parking_spaces_path, class: "btn btn-default" %>
      </div>
    	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" >
      	<h3>Final</h3>
  	    <%= link_to cl_image_tag(@images.first['url']), @images.first['url'], :id => "mainimg", :class => "thumbnail img-responsive", data:{ title:"Final" , toggle:'lightbox', gallery:'mainimages' }%>
    	</div>
    	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      	<h3>Image Segmentation</h3>
  	    <%= link_to cl_image_tag(@images.second['url']), @images.second['url'], :id => "mainimg", :class => "thumbnail img-responsive", data:{ title:"Image Segmentation" , toggle:'lightbox', gallery:'mainimages' }%>
    	</div>
    	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      	<h3>Object Detection</h3>
  	    <%= link_to cl_image_tag(@images.third['url']), @images.third['url'], :id => "mainimg", :class => "thumbnail img-responsive", data:{ title:"Object Detection" , toggle:'lightbox', gallery:'mainimages' }%>
    	</div>
  	</div>
    <h3>Parking Spots</h3>
  	<% @spots.each do |image| %>
      <%= link_to cl_image_tag(image['url'], height:'100px'), image['url'], data:{ title:"#{image['url'].split('/').last}" , toggle:'lightbox', gallery:'multiimages' }%>
  	<% end %>
  </div>
<% rescue => e %>
  <%= render 'wait' %>
<% end %>