<p id="notice"><%= notice %></p>

<p>
  <strong>Parking coords:</strong>
  <%= @parking_space.parking_coords %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @parking_space.image_url %>
</p>

<%= link_to 'Back', parking_spaces_path %>

<div class="container">
  <div class="row" id="main">
  	<div class="col-lg-12 col-sm-12 col-xs-12" >
    	<h1>Autospots Computer Vision</h1>
  		<a title="Results" href="#" id="mainimg">
        <%= cl_image_tag("#{@parking_space.id}/final.png", :version => '9', :class => "thumbnail img-responsive") %>
  		</a>
  	</div>
	</div>
	<hr>

	<% @images.each do |image| %>
    <%= link_to cl_image_tag(image['url'], height:'100px'), image['url'], data:{ title:"#{image['url'].split('/').last}" , toggle:'lightbox', gallery:'multiimages' }%> -->
	<% end %>

	<hr>
		<div class="row" id="main">
	    	<div class="col-lg-12 col-sm-12 col-xs-12" >
		    	<h3>Machine Learning Responses</h3>
      		<%= cl_image_tag("#{@parking_space.id}/output.png", :version => '9', :id => "mainimg", :class => "thumbnail img-responsive") %>
	    	</div>
	    	<div class="col-lg-12 col-sm-12 col-xs-12" >
      		<%= cl_image_tag("#{@parking_space.id}/predictions.jpg", :version => '9', :id => "mainimg", :class => "thumbnail img-responsive") %>
	    	</div>
  	</div>
</div>

<!-- <%= link_to 'Edit', edit_parking_space_path(@parking_space) %> |-->
<%= link_to 'Back', parking_spaces_path %>
